section.post {
  align-items: stretch;
  box-shadow: 1px 0px 1px #E1E1E1, -1px 0px 1px #E1E1E1, 0px 1px 1px #E1E1E1, 0px -1px 1px #E1E1E1;
  flex-direction: row;
  margin-bottom: 2.5rem;
  padding: 1rem;
}

section.post>div:first-child {
  border-right: 1px solid #E1E1E1;
}

.post .username {
  font-size: 1.9rem;
}

.post .text {
  font-size: 2rem;
}

.bottomBorder {
  border-bottom: 1px solid #E1E1E1;
}
