.Base {
  margin-top: 2.5rem;
}

.Base>header {
  align-items: flex-start;
  border-bottom: grey 1px solid;
  display: flex;
  justify-content: space-between;
}

.Base>header h1 {
  font-size: 3rem;
}

.Base>section {
  margin-top: 2.5rem;
}
